body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

input[type="text"] {
    font-size: 16px;
}

button {
    padding: 8px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 10px 0;
    background-color: rgb(192, 192, 192);
    padding: 10px;
}

span {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

#hoverInput {
    display: none;
    position: absolute;
    top: 65px;
    width: 350px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

#hoverButton {
    display: none;
    margin-top: 10px;
    position: absolute;
    top: 265px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}