/* Smooth loading */
html[data-bs-theme="dark"] body {
  background-color: #121212; /* oder eine andere dunkle Farbe */
}

body {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

body.visible {
  opacity: 1;
}


/* Dropdown menu  z-index correction */
.dropdown-toggle::after {
  display: none;
}

.card .stretched-link {
  /* Lower the stacking order */
  z-index: 1;
  pointer-events: auto;
}

.card button {
  /* Ensure interactive elements are above the stretched link */
  position: relative;
  z-index: 2;
}

.card .dropdown-menu {
  /* Ensure dropdowns are above the stretched link */
  z-index: 3;
}

/* Quill Placeholder dark mode support */
html[data-bs-theme="dark"] .ql-editor.ql-blank::before {
  color: #ccc; /* A lighter color for dark backgrounds */
}

html {
  overflow-x: hidden;
}

/* Navbar Hack */
#mainNav {
  transition: all 0.3s ease-in-out;
  background-color: #020202; /* Or your preferred color */
  /* Ensure proper z-index */
  z-index: 1030;
  will-change: transform, opacity;
}

.navbar-scrolled {
  opacity: 0.8;
  transform: translateY(-250%);
}

.navbar-visible {
  opacity: 1;
  transform: translateY(0);
}

/* iOS-specific fixes */
.navbar-fixed-top {
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

/* Fix for touch-action on iOS */
#mainNav {
  touch-action: manipulation;
}

/* Improve touch responsiveness */
#mainNav a, #mainNav button {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}


/* Apply a transition to the icon */
button[data-bs-toggle="collapse"] svg {
  transition: transform 0.3s ease;
}

/* When the button is collapsed, no rotation */
button[data-bs-toggle="collapse"][aria-expanded="false"] svg {
  transform: rotate(-180deg) translateY(-0.2rem);
}

/* When expanded (i.e. not collapsed), rotate the icon 180 degrees */
button[data-bs-toggle="collapse"][aria-expanded="true"] svg {
  transform: rotate(0deg);
}

/* collapse count number position and styling */
.collapsed-number {
  position: absolute;
  top: -0.15rem;       /* Adjust as needed */
  left: 50%;     /* Adjust as needed */
  transform: translateX(-50%);
  font-size: 0.7rem;
  /* No background, no padding, just plain text styling */
  color: #007bff;     /* or your preferred text color */
  opacity: 0;          /* hidden state */
  transition: opacity 0.2s ease-in-out;

}
.collapsed-number.visible {
  opacity: 1;          /* visible state */
}
