body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    font-size: 16px;
}

button {
    padding: 8px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 10px 0;
    background-color: rgb(192, 192, 192);
    padding: 10px;
}

span {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
